<div class="w-2 h-2rem bg-blue-900 slide-down-animation" style="display: flex;" >
    <div style="flex: 10%;">
        <i class="pi pi-caret-down font-bold " style="color: green; font-size: 1.5rem"></i>
    </div>
    <div style="flex: 90%;" class="font-bold text-xl">
        Entra: {{entra.name}} {{entra.number}}
    </div>
</div>
<div class="w-2 h-2rem bg-blue-900 slide-down-animation" style="display: flex;" >
    <div style="flex: 10%;">
        <i class="pi pi-caret-up font-bold" style="color: red; font-size: 1.5rem"></i>
    </div>
    <div style="flex: 90%; " class=" font-bold text-xl">
        Sale: {{sale.name}} {{sale.number}}
    </div>
</div>