<p-table #dt1 [value]="teams" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading" [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [globalFilterFields]="['name']" editMode="row">
    <ng-template pTemplate="caption">
        <div class="flex">
            <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                (click)="clear(dt1)"></button>
            <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
                    placeholder="Search keyword" />
            </span>
            <button type="button" pButton pRipple icon="pi pi-plus" class="ml-2" pTooltip="Nuevo Equipo"
                tooltipPosition="bottom" (click)="showHideDialog(true)"></button>
        </div>
    </ng-template>

    <ng-template pTemplate="header">
        <tr>
            <th style="min-width:15rem">ID Equipo</th>
            <th style="min-width:15rem">Nombre</th>
            <th style="min-width:15rem">Color</th>
            <th>Jugadores</th>
            <th style="width:20%"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-team let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="team">
            <td>{{team.id}}</td>
            <td>
                <p-cellEditor>
                    <<ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="team.name" required autofocus>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{team.name}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <<ng-template pTemplate="input">
                        <p-colorPicker [(ngModel)]="team.color" [disabled]="false" required autofocus></p-colorPicker>
                    </ng-template>
                    <ng-template pTemplate="output">
                        <p-colorPicker [ngModel]="team.color" [disabled]="true"></p-colorPicker>
                    </ng-template>
                </p-cellEditor>
            </td>
            <td><p-button icon="pi pi-users" styleClass="p-button-success" (onClick)="openTeamPlayers(team)"></p-button></td>
            <td>
                <div class="flex align-items-center justify-content-center gap-2">
                    <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(team)" class="p-button-rounded p-button-text"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(team)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(team, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                </div>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="7">No customers found.</td>
        </tr>
    </ng-template>
    
</p-table>

<form [formGroup]="teamsForm" (submit)="saveTeam()">
    <p-dialog header="Nuevo Equipo" [(visible)]="showDialog" styleClass="p-fluid" [breakpoints]="{ '960px': '75vw' }"
        [style]="{ width: '50vw' }" [modal]="true">
        <ng-template pTemplate="content">
            <div class="field">
                <label for="color">Color:</label>
                <p-colorPicker required autofocus formControlName="color"></p-colorPicker>
                <small class="p-error" *ngIf="teamsForm.controls.color.errors && teamsForm.controls.color.touched">Color
                    is required.</small>
            </div>
            <div class="field">
                <label for="name">Name</label>
                <input type="text" pInputText id="name" required autofocus formControlName="name" />
                <small class="p-error" *ngIf="teamsForm.controls.name.errors && teamsForm.controls.name.touched">Name is
                    required.</small>
            </div>
            
        </ng-template>
        <ng-template pTemplate="footer">
            
            <p-button icon="pi pi-save" type="submit" label="Guardar" styleClass="p-button-text"
                [loading]="loading"></p-button>
        </ng-template>
    </p-dialog>
</form>
<app-players [showDialogPlayers]="showDialogPlayers" [selectedTeam]="selectedTeam" (closeDialog)="closeDialog($event)"></app-players>