<div *ngIf="targetPlayer.show" class="radialbg sombra w-2 bottom-center mb-4">
        <div class="text-3xl font-bold text-100 text-center">{{team}}</div>
        <div class="flex bg-blue-900">
            <div [style.background-color]="targetPlayer.color" class="text-black-alpha-90 font-bold text-xl w-2 h-auto " >
                <span></span>
            </div>
            <div style="flex: 85%; align-items: center; justify-content: center;" class="ml-2 font-bold text-2xl mb-2 text-center" >
                {{targetPlayer.number!=0?targetPlayer.number:" "}}. {{targetPlayer.name}} 
                </div>
        </div>
    
</div>

