<div *ngIf="matchData && showBoard" class="mt-6 ml-6">
    <div [class.slide-in-from-left]="showBoard" [class.slide-out-to-left]="!showBoard">
        <div class="mb-1 bg-pink-700 flex justify-content-center  w-7 lg:w-3 gap-3">
            <span class="font-bold font-italic border-right-2 pr-3">INTERCOMUNIDADES</span>
            <span>TOPEMOS</span>
        </div>
        <div class="flex justify-content-start">
            <!-- <div class="font-bold flex align-items-center text-xl">
                <p-image src="assets/logos/lic.jpg" alt="Image" height="36 px" class="mr-2"></p-image>
            </div> -->
            <div class="flex bg-blue-50 w-7 lg:w-3 justify-content-around flex-wrap">
                <div class="font-bold surface-ground flex flex-column align-items-center justify-content-between text-50 text-3xl w-5 ">
                    <div class="white-space-nowrap text-white  overflow-hidden text-overflow-ellipsis w-full text-center">{{matchData.teams[0].name}}</div>
                    <div style="height: 5px;" [style.background-color]="matchData.teams[0].color" class="w-12"></div>
                </div>
                <div class="font-bold border-x-2 surface-ground flex align-items-center justify-content-center text-3xl w-2 p-1">
                    <div class="text-center w-full">{{scoreLocal}} - {{scoreVisit}} </div>
                </div>
                <div class="font-bold surface-ground flex flex-column align-items-center justify-content-between text-50 text-3xl w-5">
                    <div class="white-space-nowrap text-white  overflow-hidden text-overflow-ellipsis w-full text-center">{{matchData.teams[1].name}}</div>
                    <div style="height: 5px; width: 100%;" [style.background-color]="matchData.teams[1].color" class="w-12">
                    </div>
                </div>
            </div>
            <app-time [timeEvent]="timeEvents"></app-time>
        </div>
    </div>
</div>

<app-statistics [statistics]="statistics" [matchData]="matchData" *ngIf="statistics && !statistics.showOnlyPosition"
    class="centered-div border-500"></app-statistics>

<app-statistics [statistics]="statistics" [matchData]="matchData" *ngIf="statistics && statistics.showOnlyPosition"
    class="bottom-0 left-0 ml-6"></app-statistics>

<app-targets [targetPlayer]="targetPlayer" [team]="teamTargetChange"></app-targets>
<app-lineup [titulares]="titulares" [suplentes]="suplentes" [team]="selectedTeam" [show]="showLineup"
    class="centered-container"></app-lineup>
<app-match-player [player]="matchPlayer!"></app-match-player>
<app-score [scoreData]="scoreData" [show]="showScore" *ngIf="scoreData"></app-score>
<app-changes [entra]="changePlayers[0]" [sale]="changePlayers[1]" [showEntra]="showEntra"
    *ngIf="changePlayers.length==2" [team]="teamTargetChange"></app-changes>
<app-penales [matchData]="matchData" [show]="penalesData.show" [penalesLocal]="penalesData.local"
    [penalesVisit]="penalesData.visit"></app-penales>
<div class="flex w-full justify-content-center">
    <app-half-timescore [matchData]="matchData" [marcador]="statisticsMarcador"
    *ngIf="statisticsMarcador"></app-half-timescore>
</div>