<div *ngIf="matchData && showBoard" class="mt-4 ml-4">
    <div [class.slide-in-from-left]="showBoard" [class.slide-out-to-left]="!showBoard">
        <div class="flex surface-ground	w-3 h-2rem justify-content-between border-round-top ">
            <div class="font-bold flex align-items-center w-6 text-xl">
                <p-image src="assets/auspiciantes/lj.jpg" alt="Image" height="34" class="mr-2"></p-image>
                <p>JDVS 2024</p>
            </div>
            <div class="font-bold flex align-items-center justify-content-end w-6 text-xl mr-2">
                {{matchData.match.date | uppercase}}
            </div>
        </div>
        <div class="flex">
            <div class="flex bg-blue-50 w-3 justify-content-around flex-wrap">
                <div class="font-bold flex flex-column align-items-center justify-content-between text-50 text-3xl w-5 ">
                    <div class="white-space-nowrap overflow-hidden text-overflow-ellipsis w-full text-center">{{matchData.teams[0].name}}</div>
                    <div style="height: 5px;" [style.background-color]="matchData.teams[0].color" class="w-12"></div>
                </div>
                <div class="font-bold flex align-items-center justify-content-center text-4xl w-2">
                    <div class="bg-blue-900  text-center w-full">{{scoreLocal}} - {{scoreVisit}} </div>
                </div>
                <div class="font-bold flex flex-column align-items-center justify-content-between text-50 text-3xl w-5">
                    <div class="white-space-nowrap overflow-hidden text-overflow-ellipsis w-full text-center">{{matchData.teams[1].name}}asdasd</div>
                    <div style="height: 5px; width: 100%;" [style.background-color]="matchData.teams[1].color" class="w-12">
                    </div>
                </div>
            </div>
            <app-time [timeEvent]="timeEvents"></app-time>
        </div>
    </div>
</div>

<app-statistics [statistics]="statistics" [matchData]="matchData" *ngIf="statistics"
    class="centered-div"></app-statistics>
<app-targets [targetPlayer]="targetPlayer" [team]="teamTargetChange"></app-targets>
<app-lineup [titulares]="titulares" [suplentes]="suplentes" [team]="selectedTeam" [show]="showLineup"
    class="centered-container"></app-lineup>
<app-match-player [player]="matchPlayer!"></app-match-player>
<app-score [scoreData]="scoreData" [show]="showScore" *ngIf="scoreData"></app-score>
<app-changes [entra]="changePlayers[0]" [sale]="changePlayers[1]" [showEntra]="showEntra"
    *ngIf="changePlayers.length==2" [team]="teamTargetChange"></app-changes>
<app-penales [matchData]="matchData" [show]="penalesData.show" [penalesLocal]="penalesData.local"
    [penalesVisit]="penalesData.visit"></app-penales>
<div class="flex w-full justify-content-center">
    <app-half-timescore [matchData]="matchData" [marcador]="statisticsMarcador"
    *ngIf="statisticsMarcador"></app-half-timescore>
</div>