.slide-in-from-left {
    animation: slideFromLeft 0.5s ease-in-out;
  }
  
  @keyframes slideFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .slide-out-to-left {
    animation: slideToLeft 0.5s ease-in-out;
  }
  
  @keyframes slideToLeft {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(-100%);
      opacity: 0;
    }
  }

  .container {
    display: flex;
    flex-direction: column; /* Apila los elementos verticalmente */
    align-items: flex-start; /* Alinea a la izquierda */
    justify-content: center; /* Centra verticalmente */
    height: 100vh; /* Establece la altura del contenedor al 100% del viewport */
    padding-left: 20px; /* Ajusta el espacio a la izquierda si es necesario */
  }
  
  .centered-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Aprovecha toda la altura de la pantalla */
}