<div style="height: 600px">
    <div class="grid  mb-4 bg-blue-900 bottom-center sombra " *ngIf="player">
        <div class="col-3 bg-white sombra">
            <p-image src="assets/auspiciantes/alvid.jpg" width="100%" > </p-image>
        </div>
        <div class="col-9  text-center">
            <div class="col-12 font-bold text-4xl">
                {{player.number}}. {{player.name}}
            </div>
            <div class="col-12">
                Jugador del partido auspiciado por:<span class="font-bold"> {{auspiciante}}</span>
            </div>
            
        </div>
    </div>
</div>