<div  class="sombra ">
    <div class="flex  mb-4  bottom-center gap-1" *ngIf="player">
        <div class="w-3  sombra flex align-content-center flex-wrap" style="max-height: 9px; min-height: 90px; max-width: 400px;">
            <p-galleria [value]="auspiciantes" [numVisible]="5" [circular]="true" [transitionInterval]="2000" [showIndicators]="false" [showItemNavigators]="false" [autoPlay]="true" [showThumbnails]="false" [responsiveOptions]="responsiveOptions" [containerStyle]="{ 'max-width': '640px' }">
                <ng-template pTemplate="item" let-item >
                    <img [src]="item.name" style="width: 100%; display: block;" />
                </ng-template>
            </p-galleria>
        </div>
        <div class="w-9  text-center flex flex-column">
            <div class="w-12 text-3xl font-bold bg-pink-700 text-white mb-1">
                Jugador del partido
            </div>
            
            <div class="w-12 font-bold text-4xl text-white surface-ground">
                {{player.name | uppercase}}
            </div>
          
        </div>
    </div>
</div>

