.sombra{
    -webkit-box-shadow: 7px 6px 18px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 6px 18px -4px rgba(0,0,0,0.75);
box-shadow: 7px 6px 18px -4px rgba(0,0,0,0.75);
}
.bounce-in-left{animation:bounce-in-left 2.1s both}

 @keyframes bounce-in-left{0%{transform:translateX(-600px);animation-timing-function:ease-in;opacity:0}38%{transform:translateX(0);animation-timing-function:ease-out;opacity:1}55%{transform:translateX(-68px);animation-timing-function:ease-in}72%{transform:translateX(0);animation-timing-function:ease-out}81%{transform:translateX(-28px);animation-timing-function:ease-in}90%{transform:translateX(0);animation-timing-function:ease-out}95%{transform:translateX(-8px);animation-timing-function:ease-in}100%{transform:translateX(0);animation-timing-function:ease-out}}

.vidrio{
    background: rgba(90, 90, 90, 0.73);
}