<div class="flex w-12 flex-column" *ngIf="statistics.show && !statistics.showOnlyPosition">
        <div class="flex w-full bg-red-900 text-white mb-1 py-2">
            <div class="text-3xl font-bold  w-5 text-center"> {{matchData.teams[0].name}}</div>
            <div class="text-3xl font-bold border-500 w-2 text-center">{{statistics.local.goles}} -
                {{statistics.visit.goles}}</div>
            <div class="text-3xl font-bold w-5 text-center">{{matchData.teams[1].name}}</div>
        </div>
        <div class="vidrio flex flex-column align-content-between w-full ">
            <div class="w-12 text-center text-3xl font-bold ">
                Estadísticas del partido
            </div>
            <div class="flex w-full justify-content-center  mt-2  text-3xl">
                <div class="w-3 flex flex-column align-items-center gap-4">
                    <div class="font-bold">{{statistics.local.position}} %</div>
                    <div class="font-bold">{{statistics.local.red}} </div>
                    <div class="font-bold">{{statistics.local.yellow}}</div>
                </div>
                <div class="w-6 flex flex-column align-items-center gap-4">
                    <div>POSESIÓN DEL BALÓN</div>
                    <div>TARJETAS ROJAS</div>
                    <div>TARJETAS AMARILLAS</div>
                </div>
                <div class="w-3 flex flex-column align-items-center gap-4">
                    <div class="font-bold">{{statistics.visit.position}} %</div>
                    <div class="font-bold">{{statistics.visit.red}} </div>
                    <div class="font-bold">{{statistics.visit.yellow}}</div>
                </div>
            </div>
            <div class="flex flex-column justify-content-center text-2xl">
                <div class="col-3 flex justify-content-center flex-wrap w-12">
                    <div style="max-height: 80px; min-height: 100px; max-width: 150px;">
                        <p-galleria [value]="auspiciantes" [numVisible]="5" [circular]="true"
                            [transitionInterval]="2000" [showIndicators]="false" [showItemNavigators]="false"
                            [autoPlay]="true" [showThumbnails]="false" [responsiveOptions]="responsiveOptions"
                            [containerStyle]="{ 'max-width': '540px' }">
                            <ng-template pTemplate="item" let-item>
                                <img [src]="item.name" style="width: 100%; display: block;" />
                            </ng-template>
                        </p-galleria>
                    </div>
                </div>
            </div>
            <br>
            <br>
    </div>

</div>

<div class="w-5 flex text-white flex-column sombra bottom-center mb-5" *ngIf="statistics.show && statistics.showOnlyPosition">
    <div class="possession-container flex w-full">
      <!-- Equipo Local -->
      <div
        class="possession team1 bg-red-900"
        [style.width.%]="statistics.local.position"
        
      >
        {{ statistics.local.position }}%
      </div>
      <!-- Equipo Visitante -->
      <div
        class="possession team2 bg-red-900"
        [style.width.%]="statistics.visit.position"
      
      >
        {{ statistics.visit.position }}%
      </div>
    </div>

    <div class="flex justify-content-between px-2 w-full surface-ground">
      <!-- Nombre Equipo Local -->
      <div class="flex align-items-center w-6">
        <div class="circle" [ngStyle]="{'background-color': matchData.teams[0].color}"></div>
        <div class="ml-1 white-space-nowrap overflow-hidden text-overflow-ellipsis font-bold text-white" >
          {{matchData.teams[0].name}}
        </div>
      </div>

      <!-- Nombre Equipo Visitante -->
      <div class="flex align-items-center w-6">
        <div class="circle" [ngStyle]="{'background-color': matchData.teams[1].color}"></div>
        <div class="ml-1 white-space-nowrap overflow-hidden text-overflow-ellipsis font-bold text-white" >
          {{matchData.teams[1].name}}
        </div>
      </div>

    </div>
    <div class="flex justify-content-center font-bold">
        <span>Posesión de balón</span>
    </div>
  </div>
