<h2>🎙️ Emisor de Audio</h2>

<label for="source">Elegir fuente de audio:</label>
<select id="source" [(ngModel)]="sourceType">
  <option value="mic">Micrófono</option>
  <option value="screen">Audio de escritorio</option>
</select>

<br /><br />

<div *ngIf="sourceType === 'mic'">
  <label for="mic">Selecciona micrófono:</label>
  <select id="mic" [(ngModel)]="selectedMic">
    <option *ngFor="let mic of mics" [value]="mic.deviceId">
      {{ mic.label || 'Micrófono sin nombre' }}
    </option>
  </select>
</div>

<br />

<button (click)="startTransmission()" [disabled]="isTransmitting">
  Iniciar transmisión
</button>


<button *ngIf="isTransmitting && !isPaused" (click)="pauseTransmission()">
  ⏸️ Pausar transmisión
</button>

<button *ngIf="isTransmitting && isPaused" (click)="resumeTransmission()">
  ▶️ Reanudar transmisión
</button>

<div [ngClass]="statusClass" class="status">
  {{ status }}
</div>

<button (click)="requestMicPermission()">
  Permitir acceso al micrófono
</button>


