<p-table [value]="boxes" responsiveLayout="stack" [breakpoint]="'960px'"
                    [tableStyle]="{'min-width': '15rem'}">
    <ng-template pTemplate="header">
        <tr>
            <th>ID</th>
            <th>Local</th>
            <th>Peso</th>
            <th>Visita</th>
            <th>Peso</th>
            <th></th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-box>
        <tr>
            <td>{{ box.id }}</td>
            <td>{{ box.nombre_local }}</td>
            <td>{{ box.peso_local }}</td>
            <td>{{ box.nombre_visita }}</td>
            <td>{{ box.peso_visita }}</td>
            <td>
                <button pButton icon="pi pi-play" class="p-button-rounded p-button-text"
                        (click)="playBox(box)"></button>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="footer">
        <tr>
        </tr>
    </ng-template>
</p-table>